 {% extends 'base.html.twig' %} {% block body %}

    {% include 'home/menu.html.twig' %}
    {% include 'home/nav_bar.html.twig' %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}" />
     <div class="retour" style="position:fixed;">  <a href="{{ path("home") }}"><span>←</span> RETOUR </a> </div>
    <div class="row details_first" style="margin-top:217px; margin-bottom:20px;">     
        <div class="col-sm-8 class_details_product" id="class_details_product_id">
            <img src="{{ asset("images/products/" ~ product.image ~ ".PNG") }}" alt="Avatar" style="width:450px; height:450px; margin-left:300px;  margin-top: 5%;" />
            <h2> Caractéristiques produit</h2>
            <p>
                Eco-Score L'Eco-score vous indique l’impact sur l'environnement des produits alimentaires. Il a été élaboré pour favoriser une alimentation plus durable.<br>
                La méthode de calcul estime l’impact de chaque étape de la vie d’un produit
                (production, transport, vente en magasin, cuisine, recyclage des emballages) sur la pollution de l'environnement.<br>
                Elle prend notamment en compte :</p>
                  <pre> -le mode de production</pre>   
                  <pre> -le transport</pre> 
                  <pre> -l’origine géographique des ingrédients</pre> 
                  <pre> -la recyclabilité de l’emballage</pre> 
                  <pre> -l’impact sur les espèces menacées </pre> 
                <p> Sources des calculs de l'Eco-score: Les scores des produits de marque Carrefour sont calculés par Conso Trust.<br>
                Les scores des marques nationales sont calculés par Open Food Facts et consultables
                sur "  <a href="https://openfoodfacts.org">https://openfoodfacts.org</a>".<br> Certains scores sont gris, en raison du manque d'informations nécessaires, il n'est pas possible de calculer l'Eco-score de ces produits.


            </p>
            <hr>
            <h2>Vous pourriez aussi aimer</h2>
            <div class="row"> 
                <ul class='row articles'>
                    {% for _product in products %}
                        <div class="col-md-3" >
                            <li>
                                <div class="cardi">

                                    <a href="{{ path("details", {id: _product.id}) }}">

                                        <img src="{{ asset("images/products/" ~ _product.image ~ ".PNG") }}" alt="Avatar" style="width:100%" />
                                        <div class="foot_article">
                                            <h2>Asperges blanches ou violettes</h2>
                                            <h5>la botte de 500g</h5>
                                            <h5>5€ /kilogramme</h5>
                                            <h3>origine: France</h2>
                                            <h2>2,50€</h2>
                                        </div>
                                    </a>

                                    <div class="btn-add">
                                        <button type="submit" class="btn "> 
                                                            <span class="fa fa-plus"></span>
                                                            <strong>ajouter</strong>
                                                </button>
                                        <button type="submit" class="btn pull-right"> 
                                                            <i class="fa fa-heart"></i>
                                                </button>

                                    </div>
                                </div>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-4 details_div" id="div_to_show_id">
            <div class="details_article">
                <h2>Asperges blanches ou violettes</h2>
                <h5>la botte de 500g</h5>
                <h5>5€ /kilogramme</h5>
                <h3>origine: France</h2>
                    <h2>2,50€</h2>
                    <a href="#" class="btn buy_btn">
                        <button type="submit" class="btn " data-toggle="tooltip" data-placement="top" title="Ajouter ce produit dans votre panier"> 
                        <strong>Acheter</strong>
                        <img class="" src="{{ asset("images/shopping-cart.png") }}" alt="chariot!" style="width:50px; height:50px;"/>        
                
					</button>
                    </a>
                    <button type="submit" class="btn like pull-right"> 
					<i class="fa fa-heart"></i>
				</button>
            </div>
            <div class="bottom_details row">
                <a href="{{ path("products_by_category", {id: product.category.id}) }}" class="btn ">
                    <button type="submit" class="btn " data-toggle="tooltip" data-placement="top" title="Retourner sur la page d'accueil"> 
                        <div class="col-sm-9">
                            <strong>VOIR TOUS LES PRODUITS DU RAYON </strong>
                            <span></span>
                            <img class="details_pic" src="{{ asset("images/carotte.jpg") }}" alt="carotte!" style="width:50px; height:50px;"/>        
                
                        </div>
                        <div class="col-sm-3 test">
                            <strong> > </strong>
                        </div>
					</button>
                </a>
            </div>
        </div>

    </div>


    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
        var second_div_right = document.getElementById("class_details_product_id");
        var foot__ = second_div_right.scrollHeight - second_div_right.scrollTop ; //hauter du des produits
        var Y = foot__ -600; // position du scroll
        console.log(" y =  " + Y);
        $(window).scroll(function () {
            console.log("scrollY   " + window.scrollY)
            if (window.scrollY > Y) {
                 $('#div_to_show_id').addClass("class_to_fix");

            } else {
             $('#div_to_show_id').removeClass("class_to_fix");
            }
            
        });
    </script>


{% endblock %}