{% extends 'base.html.twig' %}
{% block body %}   
  <link rel="stylesheet" href="{{ asset('css/forumStyle.css') }}" />
    {% include 'home/menu.html.twig' %}
  <div class="row commentaire_ " style="margin:0px 50px; margin-top:217px;">
    <div class="btn-add-comment  text-center row">
      <div class="col-sm-10 text-center  welcome-to-soth" style="margin-bottom:50px;">
       
        Bienvenu au forum de
        <span style="color: #ff4d00; margin-right:0%;">H</span>
        <span style="color: #ff6f00;">T</span>
        <span style="color: #f27d00;">&</span>
        <span style="color: #fa6e02;">&</span>
        <span style="color: #ff8400;">O</span>
        <span style="color: #f5a00c;">S</span> &nbsp; online shope
                
      </div>
      <div class="col-sm-2">
        <a href="{{ path("create_comment") }}" class="btn new_post_btn pulse ">
            <span class="fa fa-plus"></span>
            <strong>Crée un nouveau sujet</strong>
        </a>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Objet</th>
          <th>Message</th>
          <th>Etat</th>
          <th>Auteur</th>
          <th>Publié le </th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr class="resize_">
              <td> 
                <a class="link-to-details-post" href="{{ path("show_comment", {'id': post.id}) }}">
                  {{ post.title }}
                </a>
              </td>
              <td>
                <a class="link-to-details-post" href="{{ path("show_comment", {'id': post.id}) }}">
                  {{ post.content [:100] }} ...
                </a>
              </td>
            <td>{% if post.active %}actif{% else %}fermé{% endif %} </td>
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              {{ post.nickname }}
              </td>
              <td>{{ post.createdAt |date('d-m-Y:h-m-s') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>




{% endblock %}