{% extends 'base.html.twig' %}
{% block body %}
    {% include 'home/menu.html.twig' %}
    {% include 'home/nav_bar.html.twig' %}
    <div class="row" style="margin-top:217px; margin-bottom:20px;  background-color: rgb(238, 238, 238);">
    <div class="col-md-3 firstd" id="firstd_id">
        {% include 'home/sidebar.html.twig' %}
    </div>
    <div class="col-md-9 firstdo" id="firstdo_id">
        <ul class='row articles'>
            {% for product in products %}
                <div class="col-md-3">
                    <li>
                        <div class="cardi">
                            <a href="{{ path("details", {'id': product.id}) }}">
                                <img src="{{ asset("images/products/" ~ product.image ~ ".PNG") }}" alt="Avatar" style="width:100%" />
                                <div class="foot_article">
                                    <h3>{{ product.name }}</h3>                                   
                                    <h4>{{  product.description [:20] }} ...</h4>
                                    <h2> {{ product.price }} €</h2>
                                </div>
                            </a>

                            <div class="btn-add text-center">
                                <a href="{{ path("cart_add", {'id': product.id}) }}" class="btn ">
                                    <span class="fa fa-plus"></span>
                                    <strong>ajouter</strong>
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>


</div>

    <script>
        var second_div_right = document.getElementById("firstdo_id");
        var foot__ = second_div_right.scrollHeight - second_div_right.scrollTop ; //hauter du des produits
        var Y = foot__ -1000; // position du scroll
        console.log(" y =  " + Y);
        $(window).scroll(function () {
            console.log("scrollY   " + window.scrollY)
            if (window.scrollY > Y) {
                 $('#firstd_id').addClass("sticky");
                 $('#firstdo_id').addClass("resize_div");
            } else {
             $('#firstd_id').removeClass("sticky");
                 $('#firstdo_id').removeClass("resize_div");
            }
            
        });
    </script>
{% endblock %}