  <link rel="stylesheet" href="{{ asset('css/style_menu.css') }}" />

<ul class="first_div container-fluid" id="desktop" style="position:fixed; z-index: 9999 !important; margin: 0;">
    <li style="height: 150px">
        <a class="_online-shop" href="{{ path("home") }}">
            <div style="width: 60%; background-color: white; padding: 11% 13%; margin: 30px 12%; border-radius: 15px; min-width: 200px;" 
                class="text-center _logo shadow p-4 bg-white">
                <strong>
                    <span style="color: #ff4d00;">O</span><span style="color: #ff6f00;">n</span><span style="color: #f27d00;">l</span><span style="color: #fa6e02;">i</span><span style="color: #ff8400;">n</span><span style="color: #f5a00c;">e</span><span style="color: black;">S</span><span style="color: black;">h</span><span style="color: black;">o</span><span style="color: black;">p</span>
                </strong>
            </div>
        </a>
    </li>

    <li style="padding-top: 22px;">
        <form style="margin-left: 7%;" class="d-flex" method="POST">
            <input class="form-control search_input"
                style="border: solid rgb(243, 154, 38);margin-top:2%; margin-right:-10px; height:50px;width: 50vw;"
                type="search" placeholder="Que recherchez vous {{ user }}?" aria-label="Search" name="search_product">
            <button class="search" style="border: solid rgb(243, 154, 38); " type="submit">Rechercher</button>
        </form>
    </li>
    <li style="padding-top: 22px;" class="text-right">
        <a href="#" class="btn user pull-right">
            <div class="dropdown">
                <img class=" img-user" src="{{ asset("images/user-shape.png") }}" alt="user_mobile!" /> <br>               
                <span class="dropbtn">
                    {% if client is defined and client  != null %}
                        {{ client.firstname }}
                        
                        <div class="dropdown-content">  
                            <a href="{{path("profile")}}" class="btn">Mon profil</a>
                            <a href="{{path("app_logout")}}" class="btn">Deconnexion</a>
                        </div>
                    {% else %}
                        Compte
                        <div class="dropdown-content">
                            <a href="{{ path("app_login") }}" class="btn">Connexion</a>
                            <a href="{{ path("create_client") }}" class="btn">Inscription</a>
                        </div>
                    {% endif %}
                </span>
                
            </div>
        </a>
    </li>
    <li><a class=" pull-right cart" aria-current="page" href="{{path("cart")}}">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <br> {{ totalItem}}   articles :     &nbsp; {{total}} €
            <br> My Cart
        </a>
    </li>
</ul>


<div class="mobile row">
    <div class="row ">
        <div class="col-3">
            <a class="_online-shop" href="{{ path("home") }}">
                <div style="width: 60%; background-color: white; padding: 11% 13%; margin: 30px 12%; border-radius: 15px; min-width: 200px;" 
                    class="text-center _logo shadow p-4 bg-white">
                    <strong>
                        <span style="color: #ff4d00;">O</span><span style="color: #ff6f00;">n</span><span style="color: #f27d00;">l</span><span style="color: #fa6e02;">i</span><span style="color: #ff8400;">n</span><span style="color: #f5a00c;">e</span><span style="color: black;">S</span><span style="color: black;">h</span><span style="color: black;">o</span><span style="color: black;">p</span>
                    </strong>
                </div>
            </a>
        </div>
        <div class="col-3 div_search_mobile">
            <a href="#" >
                <img class="search_mobile" src="{{ asset("images/search.png") }}" alt="search_mobile!" />
            </a>
        </div>
        <div class="col-2 user_mobile">
            <a href="#" >
                <div class="dropdown">
                    <img class="image_ronde_mobile dropbtn" src="{{ asset("images/user.png") }}" alt="user_mobile!" /> 
                
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>                  
            </a>
        </div>
        <div class="col-4 cart_mobile" style=" display: block;">
            <a href="{{path("cart")}}" class="btn cart_mobile_a">
            <img class="" src="{{ asset("images/shopping-cart.png") }}" alt="chariot!" style="width:20px; height:20px;"/> 
                <p> {{ totalItem}} items -  &nbsp; {{total}} €</p>
                <p> My Cart</p>
            </a>
            
        </div>
         <div class="col-4 cart_hide" style="width:20px; height:20px; display: none;">
            
            <a href="#" class="btn ">
                <img class="" src="{{ asset("images/shopping-cart.png") }}" alt="chariot!" style="width:20px; height:20px;"/>        
            </a>
        </div>


  
    </div>
</div>

  
    </div>
</div>
