{% extends 'base.html.twig' %}

{% block body %}

<div style="padding: 20px;" class="row">
    <div class="col-sm-4">
        {% for admin in admins %}

        <h1>{{ admin.firstname }}</h1><hr>
        <h3>{{ admin.lastname }}</h3><hr>

        {% endfor %}
    </div>
    <div class="col-sm-4">
        {% for client in clients %}

        <h1>{{ client.firstname }}</h1><hr>
        <h3>{{ client.lastname }}</h3><hr>
        <h3>{{ client.email }}</h3><hr>
        <h3>{{ client.address }}</h3><hr>
        <h3>{{ client.phone }}</h3><hr>

        {% endfor %}
    </div>
    <div class="col-sm-4">
        {% for category in categories %}

        <h1>{{ category.name }}</h1><hr>

        {% endfor %}
    </div>
</div>

{{ form(clientForm) }}

{% endblock %}
